WcfTester/WcfTester/Service References/UniverseWcf/Universe311.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO.Universe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO.Universe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO" />
  <xs:complexType name="ArrayOfStarDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StarDto" nillable="true" type="tns:StarDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStarDto" nillable="true" type="tns:ArrayOfStarDto" />
  <xs:complexType name="StarDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO" base="q1:BaseDtoOfStar69M4is2r">
        <xs:sequence>
          <xs:element minOccurs="0" name="GalaxyId" type="xs:int" />
          <xs:element minOccurs="0" name="Mass" type="xs:double" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PositgionY" type="xs:int" />
          <xs:element minOccurs="0" name="PositionX" type="xs:int" />
          <xs:element minOccurs="0" name="RadiationLevel" type="xs:int" />
          <xs:element minOccurs="0" name="Radius" type="xs:double" />
          <xs:element minOccurs="0" name="StarColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StarType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SurfaceTemp" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StarDto" nillable="true" type="tns:StarDto" />
</xs:schema>