WcfTester/WcfTester/Service References/UniverseWcf/Universe311.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO.Universe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO.Universe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Models.Universe.Enum" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Models.Base.Enum" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Models.Buildings.Enums" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Models.Tech.Enum" />
  <xs:complexType name="ArrayOf_2015ProjectsBackEndWs.DTO.Universe.StarDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="_2015ProjectsBackEndWs.DTO.Universe.StarDto" nillable="true" type="tns:_2015ProjectsBackEndWs.DTO.Universe.StarDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOf_2015ProjectsBackEndWs.DTO.Universe.StarDto" nillable="true" type="tns:ArrayOf_2015ProjectsBackEndWs.DTO.Universe.StarDto" />
  <xs:complexType name="_2015ProjectsBackEndWs.DTO.Universe.StarDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="GalaxyId" type="xs:int" />
      <xs:element minOccurs="0" name="Mass" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Planets" nillable="true" type="tns:ArrayOfPlanetDto" />
      <xs:element minOccurs="0" name="PositgionY" type="xs:int" />
      <xs:element minOccurs="0" name="PositionX" type="xs:int" />
      <xs:element minOccurs="0" name="RadiationLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Radius" type="xs:double" />
      <xs:element minOccurs="0" name="StarColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StarType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurfaceTemp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="_2015ProjectsBackEndWs.DTO.Universe.StarDto" nillable="true" type="tns:_2015ProjectsBackEndWs.DTO.Universe.StarDto" />
  <xs:complexType name="ArrayOfPlanetDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlanetDto" nillable="true" type="tns:PlanetDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlanetDto" nillable="true" type="tns:ArrayOfPlanetDto" />
  <xs:complexType name="PlanetDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePopOnFoodProduction" type="xs:double" />
      <xs:element minOccurs="0" name="ActivePopOnOreProduction" type="xs:double" />
      <xs:element minOccurs="0" name="ActivePopOnResProduction" type="xs:double" />
      <xs:element minOccurs="0" name="AtmospherePresent" type="xs:boolean" />
      <xs:element minOccurs="0" name="Buildings" nillable="true" type="tns:ArrayOfBuildingDto" />
      <xs:element minOccurs="0" name="DistanceR" type="xs:double" />
      <xs:element minOccurs="0" name="Eccentricity" type="xs:double" />
      <xs:element minOccurs="0" name="FoodProduction" type="xs:int" />
      <xs:element minOccurs="0" name="GravityEarthCompared" type="xs:double" />
      <xs:element minOccurs="0" name="GroundRadiatedSpaces" type="xs:int" />
      <xs:element minOccurs="0" name="GroundSpaces" type="xs:int" />
      <xs:element minOccurs="0" name="GroundSpacesLeft" type="xs:int" />
      <xs:element minOccurs="0" name="GroundUsedSpaces" type="xs:int" />
      <xs:element minOccurs="0" name="HabitableSpaces" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mass" type="xs:double" />
      <xs:element minOccurs="0" name="MaxPopulation" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OreProduction" type="xs:int" />
      <xs:element minOccurs="0" name="PeriodOfRevolution" type="xs:double" />
      <xs:element minOccurs="0" name="PeriodOfRotation" type="xs:double" />
      <xs:element minOccurs="0" name="Population" type="xs:int" />
      <xs:element minOccurs="0" name="RadiationLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Radius" type="xs:double" />
      <xs:element minOccurs="0" name="ResearchPointProduction" type="xs:int" />
      <xs:element minOccurs="0" name="RingsPresent" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Universe.Enum" minOccurs="0" name="Status" type="q1:SatelliteStatus" />
      <xs:element minOccurs="0" name="SurfaceTemp" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Base.Enum" minOccurs="0" name="TaxLevel" type="q2:TaxLevel" />
      <xs:element minOccurs="0" name="TetaZero" type="xs:double" />
      <xs:element minOccurs="0" name="Totalspaces" type="xs:int" />
      <xs:element minOccurs="0" name="WaterRadiatedSpaces" type="xs:int" />
      <xs:element minOccurs="0" name="WaterSpaces" type="xs:int" />
      <xs:element minOccurs="0" name="WaterSpacesLeft" type="xs:int" />
      <xs:element minOccurs="0" name="WaterUsedSpaces" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanetDto" nillable="true" type="tns:PlanetDto" />
  <xs:complexType name="ArrayOfBuildingDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuildingDto" nillable="true" type="tns:BuildingDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuildingDto" nillable="true" type="tns:ArrayOfBuildingDto" />
  <xs:complexType name="BuildingDto">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models.Buildings.Enums" minOccurs="0" name="BuildingType" type="q3:BuildingType" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfBuildingSpecsDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MoneyCost" type="xs:int" />
      <xs:element minOccurs="0" name="MoneyMaintenanceCost" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="OreCost" type="xs:int" />
      <xs:element minOccurs="0" name="OreMaintenanceCost" type="xs:int" />
      <xs:element minOccurs="0" name="SpaceNeeded" type="xs:int" />
      <xs:element minOccurs="0" name="UsedSpaces" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildingDto" nillable="true" type="tns:BuildingDto" />
  <xs:complexType name="ArrayOfBuildingSpecsDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuildingSpecsDto" nillable="true" type="tns:BuildingSpecsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuildingSpecsDto" nillable="true" type="tns:ArrayOfBuildingSpecsDto" />
  <xs:complexType name="BuildingSpecsDto">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Models.Tech.Enum" minOccurs="0" name="Bonus" type="q4:BonusType" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuildingSpecsDto" nillable="true" type="tns:BuildingSpecsDto" />
</xs:schema>