WcfTester/WcfTester/Service References/UniverseWcf/Universe316.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Shields" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Shields" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Hulls" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Base" />
  <xs:complexType name="ArrayOfShield">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shield" nillable="true" type="tns:Shield" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShield" nillable="true" type="tns:ArrayOfShield" />
  <xs:complexType name="Shield">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Base" base="q1:PartShipEntity">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Hulls" minOccurs="0" name="Hull" nillable="true" type="q2:Hull" />
          <xs:element minOccurs="0" name="Protection" type="xs:int" />
          <xs:element minOccurs="0" name="RequiredEnergy" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Shield" nillable="true" type="tns:Shield" />
</xs:schema>