WcfTester/WcfTester/Service References/UniverseWcf/Universe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Universe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO.UtilityDto" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO.Universe" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Models.Universe" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Models.Base" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Models.Users" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Base" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Models.Universe.Strcut" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Hulls" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Weapons" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Models.Tech" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Armors" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Models.Queues" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/Models.Queues.Enum" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd18" namespace="http://schemas.datacontract.org/2004/07/Models.Buildings" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Models.Buildings.Enums" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Models.Tech.Enum" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd21" namespace="http://schemas.datacontract.org/2004/07/Models.Base.Enum" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd22" namespace="http://schemas.datacontract.org/2004/07/Models.Universe.Enum" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd23" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Engines" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd24" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Shields" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd25" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.System" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Enums" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd27" namespace="http://schemas.datacontract.org/2004/07/Models.Logs" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/Models.Logs.Enum" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd29" namespace="http://schemas.datacontract.org/2004/07/Models.Races" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd30" namespace="http://schemas.datacontract.org/2004/07/Models.Races.Enums" />
      <xsd:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd31" namespace="http://schemas.datacontract.org/2004/07/Models.Users.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUniverse_GetUniversePortion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversePortion" />
  </wsdl:message>
  <wsdl:message name="IUniverse_GetUniversePortion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUniversePortionResponse" />
  </wsdl:message>
  <wsdl:message name="IUniverse_GenerateStarSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateStarSystem" />
  </wsdl:message>
  <wsdl:message name="IUniverse_GenerateStarSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateStarSystemResponse" />
  </wsdl:message>
  <wsdl:portType name="IUniverse">
    <wsdl:operation name="GetUniversePortion">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniverse/GetUniversePortion" message="tns:IUniverse_GetUniversePortion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniverse/GetUniversePortionResponse" message="tns:IUniverse_GetUniversePortion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateStarSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniverse/GenerateStarSystem" message="tns:IUniverse_GenerateStarSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniverse/GenerateStarSystemResponse" message="tns:IUniverse_GenerateStarSystem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Universe" />
</wsdl:definitions>