WcfTester/WcfTester/Service References/UniverseWcf/Universe319.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Logs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Logs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd28" namespace="http://schemas.datacontract.org/2004/07/Models.Logs.Enum" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Models.Users" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Models.Base" />
  <xs:complexType name="ArrayOfUserLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserLog" nillable="true" type="tns:UserLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserLog" nillable="true" type="tns:ArrayOfUserLog" />
  <xs:complexType name="UserLog">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Base" base="q1:BaseLogEntity">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Logs.Enum" minOccurs="0" name="LogType" type="q2:UserLogType" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models.Users" minOccurs="0" name="User" nillable="true" type="q3:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserLog" nillable="true" type="tns:UserLog" />
</xs:schema>