WcfTester/WcfTester/Service References/UniverseWcf/Universe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO.UtilityDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO.UtilityDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlanetGenerationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoodPoor" type="xs:boolean" />
      <xs:element minOccurs="0" name="FoodRich" type="xs:boolean" />
      <xs:element minOccurs="0" name="ForceLiving" type="xs:boolean" />
      <xs:element minOccurs="0" name="ForceWater" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxX" type="xs:int" />
      <xs:element minOccurs="0" name="MaxY" type="xs:int" />
      <xs:element minOccurs="0" name="MinX" type="xs:int" />
      <xs:element minOccurs="0" name="MinY" type="xs:int" />
      <xs:element minOccurs="0" name="MineralPoor" type="xs:boolean" />
      <xs:element minOccurs="0" name="MineralRich" type="xs:boolean" />
      <xs:element minOccurs="0" name="MostlyWater" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlanetGenerationDto" nillable="true" type="tns:PlanetGenerationDto" />
</xs:schema>