WcfTester/WcfTester/Service References/UniverseWcf/Universe321.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Races" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Races" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd30" namespace="http://schemas.datacontract.org/2004/07/Models.Races.Enums" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Models.Users" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Models.Base" />
  <xs:complexType name="ArrayOfRaceBonus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RaceBonus" nillable="true" type="tns:RaceBonus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRaceBonus" nillable="true" type="tns:ArrayOfRaceBonus" />
  <xs:complexType name="RaceBonus">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Base" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Races.Enums" minOccurs="0" name="Bonus" type="q2:RaceTraitsBonuses" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models.Users" minOccurs="0" name="Race" nillable="true" type="q3:User" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Models.Races.Enums" minOccurs="0" name="TraitType" type="q4:RaceTraitsType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RaceBonus" nillable="true" type="tns:RaceBonus" />
</xs:schema>