WcfTester/WcfTester/Service References/UniverseWcf/Universe317.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Hulls" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd26" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Enums" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Base" />
  <xs:complexType name="ArrayOfShipSystem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShipSystem" nillable="true" type="tns:ShipSystem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShipSystem" nillable="true" type="tns:ArrayOfShipSystem" />
  <xs:complexType name="ShipSystem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Base" base="q1:PartShipEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CombatSpeedBonus" type="xs:int" />
          <xs:element minOccurs="0" name="EnergyBonus" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Hulls" minOccurs="0" name="Hull" nillable="true" type="q2:Hull" />
          <xs:element minOccurs="0" name="Range" type="xs:int" />
          <xs:element minOccurs="0" name="ScannerRadius" type="xs:int" />
          <xs:element minOccurs="0" name="ScannerRelevationBonus" type="xs:double" />
          <xs:element minOccurs="0" name="ScannerRelevationMalus" type="xs:double" />
          <xs:element minOccurs="0" name="SpaceBonus" type="xs:double" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Enums" minOccurs="0" name="SystemType" type="q3:SystemType" />
          <xs:element minOccurs="0" name="ToHitBonus" type="xs:int" />
          <xs:element minOccurs="0" name="ToHitMalus" type="xs:int" />
          <xs:element minOccurs="0" name="TravelSpeedBonus" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShipSystem" nillable="true" type="tns:ShipSystem" />
</xs:schema>