WcfTester/WcfTester/Service References/UniverseWcf/Universe39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Buildings" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Buildings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Models.Universe" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Models.Tech" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Models.Base" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/Models.Tech.Enum" />
  <xs:complexType name="ArrayOfBuilding">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Building" nillable="true" type="tns:Building" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuilding" nillable="true" type="tns:ArrayOfBuilding" />
  <xs:complexType name="Building">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Base" base="q1:BaseBuildingEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildingSpecs" nillable="true" type="tns:ArrayOfBuildingSpec" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Universe" minOccurs="0" name="Planet" nillable="true" type="q2:Planet" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models.Universe" minOccurs="0" name="Satellite" nillable="true" type="q3:Satellite" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Models.Tech" minOccurs="0" name="Technology" nillable="true" type="q4:Technology" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Building" nillable="true" type="tns:Building" />
  <xs:complexType name="ArrayOfBuildingSpec">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuildingSpec" nillable="true" type="tns:BuildingSpec" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuildingSpec" nillable="true" type="tns:ArrayOfBuildingSpec" />
  <xs:complexType name="BuildingSpec">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Models.Base" base="q5:BaseEntity">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Models.Tech.Enum" minOccurs="0" name="Bonus" type="q6:BonusType" />
          <xs:element minOccurs="0" name="Building" nillable="true" type="tns:Building" />
          <xs:element minOccurs="0" name="Value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuildingSpec" nillable="true" type="tns:BuildingSpec" />
</xs:schema>