WcfTester/WcfTester/Service References/UniverseWcf/Universe36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Armors" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Armors" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Hulls" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Base" />
  <xs:complexType name="ArrayOfArmor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Armor" nillable="true" type="tns:Armor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArmor" nillable="true" type="tns:ArrayOfArmor" />
  <xs:complexType name="Armor">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Base" base="q1:PartShipEntity">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Hulls" minOccurs="0" name="Hull" nillable="true" type="q2:Hull" />
          <xs:element minOccurs="0" name="PercCombatSpeedMalus" type="xs:double" />
          <xs:element minOccurs="0" name="PercTravelSpeedMalus" type="xs:double" />
          <xs:element minOccurs="0" name="Protection" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Armor" nillable="true" type="tns:Armor" />
</xs:schema>