WcfTester/WcfTester/Service References/UniverseWcf/Universe323.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models.Fleets" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models.Fleets" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Models.Universe.Strcut" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Models.Users" />
  <xs:import schemaLocation="http://localhost:51822/Universe.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Base" />
  <xs:complexType name="ArrayOfFleet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fleet" nillable="true" type="tns:Fleet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFleet" nillable="true" type="tns:ArrayOfFleet" />
  <xs:complexType name="Fleet">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses.Base" base="q1:BaseShipEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="AtBay" type="xs:boolean" />
          <xs:element minOccurs="0" name="MoneyCost" type="xs:int" />
          <xs:element minOccurs="0" name="MoneyMaintenanceCost" type="xs:int" />
          <xs:element minOccurs="0" name="OreCost" type="xs:int" />
          <xs:element minOccurs="0" name="OreMaintenanceCost" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Models.Universe.Strcut" minOccurs="0" name="Position" type="q2:Coordinates" />
          <xs:element minOccurs="0" name="Range" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Models.Fleets.ShipClasses" minOccurs="0" name="ShipClasses" nillable="true" type="q3:ArrayOfShipClass" />
          <xs:element minOccurs="0" name="TravelSpeed" type="xs:int" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Models.Users" minOccurs="0" name="User" nillable="true" type="q4:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Fleet" nillable="true" type="tns:Fleet" />
</xs:schema>