FrontEnd2015MVC/FrontEnd2015MVC/Service References/BackEndWcf/true2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/_2015ProjectsBackEndWs.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseAuthDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthHash_01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthHash_02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneratedStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseAuthDto" nillable="true" type="tns:BaseAuthDto" />
</xs:schema>